[user]
	name = Emmanuel Lepage Vallee
	email = elv1313@gmail.com
[url "ssh://git@git.kde.org/"]
    pushInsteadOf = kde:

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[color]
	diff = auto
	status = auto
	branch = auto
	showbranch = auto
	ui = auto
[log]
	decorate = auto
[alias]
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cD%C(reset) %C(bold green)(%cr)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)' --abbrev-commit
    lg = !"git lg1"
    ds = diff --stat #--staged
    ls = log --stat #--staged
    sta = status
    st = status
    log = log --stat --graph
    cancel = reset --soft HEAD~1
    amend = commit --amend
    edit = !"git log --pretty=format:%s%n%n%b --no-decorate  HEAD~1..HEAD > /tmp/commess;git cancel;git stash;git stash pop"
    recommit = "commit --amend --no-edit"

[color "diff"]
	meta = blue bold

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[core]
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R -F -X
	editor = /home/lepagee/config_files/rebase/picker.py
[github]
	user = Elv13

[column]
	status = column

[status]
	#short = true
	branch = true
	showStat = true
